.__enrollmentBox {
    position: sticky;

    top: 75px;
    left: 850px;

    width: 300px;
    height: 350px;

    border: solid;
    border-radius: 5px;

    margin-top: 75px;

    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.37);

}

.__lecture {
    margin-top: 30px;
    margin-left: 20px;
}

.__lecture-price {
    margin-left: 20px;

    font-weight: bold;
    font-size: 30px;
}

.__textbook {
    margin-top: 20px;
    margin-left: 20px;
}

.__textbook-price {
    margin-left: 20px;

    font-weight: bold;
    font-size: 30px;
}

.__signUp {
    margin: 20px;

    text-align: center;
    width: 250px;
    height: 45px;

    border-radius: 20px;
    background: #2492FA;

    color: white;
    border: none;
}

.__saveLecture {
    margin-left: 20px;

    text-align: center;
    width: 250px;
    height: 45px;

    border-radius: 20px;
    background: white;

    color: #2492FA;
    border: solid;
}