
.mainContainer{
    position: relative;
    width: 100vh;
    min-height: 100vh;
}

.nav{
    background-color: #eee;
    width: 100vw;
    height: 70px;
}
.bodyBox{
    margin-bottom: 1px;
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    min-height: 800px;
}
.sidebarBox{
   margin-bottom: 110px;
    width: 200px;
}
.contentBox{
    padding: 50px;
    margin-bottom: 50px;
    flex: 1;
    
}
.footBox{
    background-color: #eee;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100px;
    
}
.navItem{
    padding: 15px;
    padding-left: 20px;
    border-top-right-radius: 5px ;
    border-top-left-radius: 5px ;
    border-top: 1px solid rgb(232, 230, 230);
    border-right: 0.7px solid rgb(210, 209, 209) ;
    border-bottom: 0.7px solid rgb(210, 209, 209);

}
